.DS_Store
.buildpath
.idea
.project
.settings
/.browserslistrc
/.production
/config/cookie.php
/config/debug-ips.php
/node_modules
/tests/_output/*
/tests/_support/_generated
/vendor
/views/layouts/_favicon.php
/web/apple-touch-icon-*.png
/web/coverage/
/web/favicon.ico
/web/favicon.svg
Thumbs.db
composer.phar
coverage.serialized
nbproject
