@charset "UTF-8";

body {
  font-family: "Noto Sans JP", sans-serif;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

footer {
  font-family: "Lato", sans-serif;
}

.form-control::placeholder {
  color: #ccc !important;
}
